.prev,
.next{
  position: absolute;
  background-color: #fff;
  border: 2px solid transparent;
  font-size: 30px;
  width: 20px;
  cursor: pointer;
  box-sizing: content-box;
  height: 40px;
  top: 19%;
}
.prev:focus,
.next:focus{
  outline: none;
  border: 2px solid #4a4a4a;
}
.prev{
  left: 20px;
}
.next{
  right: 20px;
}
