.bottom{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding-top: 1.5em;
	line-height: 2.1;
}
.addy{
	text-align: center;
  text-transform: capitalize;
}
