.middle{
	height: 140px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding-bottom: 1.5em;
	border-bottom: 1px solid #dadada;
}
.names{
	line-height: 24px;
	font-weight: 700;
	margin-bottom: 0.25em;
	color: #404a51;
	font-size: 21px;
}
.users,
.emails,
.citys{
  font-weight: 400;
  font-size: 17px;
  color: #555;
  grid-column-start: 1;
  grid-column-end: 3;
  justify-self: center;
}
.citys{
  text-transform: capitalize;
}
.emails:hover{
	text-decoration: underline;
	color: blue;
	cursor: pointer;
}
